@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

body {
  font-family: "Roboto", sans-serif !important;
  background-color: #333;
  overflow-x: hidden;
  z-index: 1;
}



@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:wght@500&display=swap');

.swiper-button-prev {
  color: #99D31B !important;
  margin-top: 180px !important;
  border: #99D31B 2px solid !important;
  padding: 10px !important;
  width: 44px !important;
  height: 44px !important;
  border-radius: 100%;
  margin-left: 40px !important;
}

.swiper-button-next {
  margin-top: 180px !important;
  color: #99D31B !important;
  left: 140px !important;
  bottom: 0px !important;
  border: #99D31B 2px solid !important;
  padding: 10px !important;
  width: 44px !important;
  height: 44px !important;
  border-radius: 100%;
}

:root {
  --swiper-navigation-size: 24px !important;
}



/* ------------animation------------- */
@keyframes round-rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes round-rotate-backwards {
  to {
    transform: rotate(-360deg);
  }
}

.animate-round-rotate {
  animation: round-rotate 24s linear infinite;
}

.animate-round-rotate-backwards {
  animation: round-rotate-backwards 24s linear infinite;
}

/* ----------------- */


@keyframes round-rotate360 {
  to {
    transform: rotate(360deg) translateX(100px);
  }
}

@keyframes round-rotate-backwards360 {
  to {
    transform: rotate(-360deg) translateX(500px);
  }
}

.animate-round-rotate360 {
  transform-origin: center;
  animation: round-rotate360 16s linear infinite;
}

.animate-round-rotate-backwards360 {
  animation: round-rotate-backwards360 24s linear infinite;
}

/* ----------------------- */