@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

body {
  font-family: "Roboto", sans-serif !important;
  background-color: #333;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:wght@500&display=swap');

.swiper-button-prev {
  color: #99D31B !important;
  margin-top: 180px !important;
  border: #99D31B 2px solid !important;
  padding: 10px !important;
  width: 44px !important;
  height: 44px !important;
  border-radius: 100%;
  margin-left: 40px !important;
}

.swiper-button-next {
  margin-top: 180px !important;
  color: #99D31B !important;
  left: 140px !important;
  bottom: 0px !important;
  border: #99D31B 2px solid !important;
  padding: 10px !important;
  width: 44px !important;
  height: 44px !important;
  border-radius: 100%;
}

:root {
  --swiper-navigation-size: 24px !important;
}