.bkImage {
    background-image: url('/images/portfolio/portfolio-bg.png');
    background-repeat: no-repeat;
    height: 732px;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
    transition: clip-path 2s;


}

.bkImage:hover {
    /* border-top-left-radius: 120px; */
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
}

.bottomImage {
    transition: 1s;
}