/* .bkImage {
    background-image: url('/images/portfolio/portfolio-bg.png');
    background-repeat: no-repeat;
    height: 732px;
    width: 636px;
    transition: clip-path 4s;


}

.bkImage:hover {
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
    transition: 4s;
}

.bottomImage {
    transition: 1s;
} */

.bkImage {
    background-image: url('/images/portfolio/portfolio-bg.png');
    background-repeat: no-repeat;
    height: 732px;
    width: 636px;
    transition: clip-path 4s, height 0.5s ease, width 0.5s ease;
}

.bkImage:hover {
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
    height: 700px;
    width: 600px;
    border-radius: 20px;
}

.bottomImage {
    transition: 1s;
}