.bkImage {
    background-image: url('/images/services/footer-bg2.png');
    height: 397px;
}

.card {
    position: relative;
    background-color: #17171723;
    box-shadow: 0px 0px 5px 1px #99d31b3c;
    transition: all 0.4s;
}

/* .card:hover {
    box-shadow: 0px 0px 5px #99D31B;
} */

.card::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 50px;
    border-left: 1px solid #99d31b6f;
    border-bottom: 1px solid #99d31b6f;
    transition: all 0.4s;
}

.card::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100px;
    width: 50px;
    border-right: 1px solid #99d31b6f;
    border-top: 1px solid #99d31b6f;
    transition: all 0.4s;
}

.card:hover.card::before {
    height: 110px;
    width: 110px;
}

.card:hover.card::after {
    height: 90px;
    width: 90px;
}